[data-theme="light"],
:root:not([data-theme="dark"]) {
	--color-gradient-bg: linear-gradient(0deg, rgb(219, 226, 236) 0%, rgb(255, 255, 255) 100%);
	--icon-filter: unset;
	--color-hamburger: #2c2d30;
	--border-radius: 12px;
}

@media only screen and (prefers-color-scheme: dark) {
	:root:not([data-theme]) {
		--color-gradient-bg: linear-gradient(0deg, rgb(24, 31, 41) 0%, rgba(13, 17, 23, 1) 100%);
		--icon-filter: invert(100%);
		--color-hamburger: #fafafa;
		--border-radius: 12px;
	}
}

html,
body {
	background: var(--color-gradient-bg);
	min-height: 100vh;
}

.logo {
	filter: var(--icon-filter) brightness(80%);
}

.avatar {
	border-radius: 50%;
	filter: contrast(120%);
	margin-right: var(--typography-spacing-vertical);
	margin-bottom: var(--typography-spacing-vertical);
}

.icon {
	margin-right: 10px;
}

.mainContentWrap {
	display: flex;
}

.deskNav {
	display: none;
}

.hamburgerWrap {
	grid-area: text;
	white-space: nowrap;
	padding: 1rem;
	cursor: pointer;
}

.hambar {
	display: block;
	opacity: 1;
	width: 22px;
	height: 2px;
	background-color: var(--color-hamburger);
	border-radius: 6px;
	margin: 4px 0;
	transform-origin: bottom right;
}

.toggleBar {
	transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	transition-duration: 500ms;
	transition-property: opacity, transform;
}

.toggleOpen1 {
	transform: rotate(-45deg) translateY(-2px);
}

.toggleOpen2 {
	opacity: 0;
	transform: scale(0);
}

.toggleOpen3 {
	transform: rotate(45deg) translateY(3px);
}

.toggleMenuClosed {
	visibility: hidden;
	opacity: 0;
	transform: scale(0.9) translateY(-24px);
}

.toggleMenuOpen {
	visibility: visible;
	opacity: 1;
}

.mobileMenuWrap {
	position: fixed;
	top: 110px;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	padding: 0 16px 24px 16px;
	transform-origin: top right;
	contain: layout;
	z-index: 100;
}

.mobileMenu {
	width: 100%;
	height: 100%;
	border-radius: var(--border-radius);
	overflow: auto;
	pointer-events: auto;
	background-color: #fafafa;
	z-index: 101;
}

.mobileNavLinksWrap {
	display: block;
	padding: 16px;
	font-size: 16px;
}

.mobileLink {
	font-size: 24px;
}

.flex {
	display: flex;
	align-items: center;
}

.mr20 {
	margin-right: 20px;
}

.mb5 {
	margin: 3px 0;
}

.deskFooter {
	display: none;
}

.infoWrap {
	display: flex;
	flex-direction: column;
}

.dataWrap {
	display: flex;
	flex-direction: column;
	margin-bottom: var(--typography-spacing-vertical);
	color: var(--secondary)
}

.content-layout {
	position: relative;
	width: 100%;
}

iframe {
	border-radius: 15px;
	border: 1px solid #666;
}

blockquote.twitter-tweet {
	display: inline-block;
	font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
	border-color: #eee #ddd #bbb;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	margin: 10px 5px;
	padding: 0 16px 16px 16px;
	max-width: 468px;
}

blockquote.twitter-tweet p {
	font-size: 16px;
	font-weight: normal;
	line-height: 20px;
}

blockquote.twitter-tweet a {
	color: inherit;
	font-weight: normal;
	text-decoration: none;
	outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
	text-decoration: underline;
}

@media (min-width: 550px) {
	.mobileMenuWrap {
		left: 50%;
	}
}

@media (min-width: 768px) {
	.mainContentWrap {
		column-gap: 60px;
	}

	.logo {
		margin-bottom: var(--typography-spacing-vertical);
		margin-left: 10px;
	}

	.infoWrap {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.mobileNav {
		display: none;
	}

	.mobileMenuWrap {
		visibility: hidden;
	}

	.mobileLink {
		font-size: var(--font-size);
	}

	.deskNav {
		display: block;
	}

	.mobileFooter {
		display: none;
	}

	.deskFooter {
		display: block;
	}
}